# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Node
node_modules
npm-debug.log

# Composer
/vendor
composer.lock

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.backup
.phpunit.result.cache

# Documentation
*.md
!README.md

# Tests
/tests
phpunit.xml
